@{
    ViewData["Title"] = "About Me";
}
<h1>@ViewData["Title"]</h1>
<p>
    Log in with "admin" UserName and "4dm1n" password <br />
    or check the text file it is filled with data by default if no such db file exsists

</p>
<p>Korábbi webfejlesztés arculattervezés logotervezés fotós munkákból:</p>
<a href="https://tamakasi.web.elte.hu/tomi_web/">More work available on the website.</a>
